<!DOCTYPE html>
<html lang="es">
  <div class="container">
    <mat-card class="login-form">
      <div class="logo-title">
        <img src="app/logo.png" alt="Logo" width="161" height="155">
        <h1 class="title">Alarm Master</h1>
      </div>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password">
        </mat-form-field>
        <div class="forgot-password">
          <a href="#" class="forgot-link">¿Olvidaste la contraseña?</a>
        </div>
        <button mat-button routerLink="/inicio">Iniciar Sesión</button>
      </mat-card-content>
      <div class="register-link">
        <p>¿No tienes cuenta? <a routerLink="/registrarse" class="register-link">Regístrate</a></p>
      </div>
    </mat-card>
  </div>
</html>
