<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarm Master</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
    <div class="navbar">
        <a href="#" class="nav-button-blue">Inicio</a>
        <a href="#" class="nav-button">Reportes</a>
        <a href="#" class="nav-button">Perfil</a>
    </div>
    <h2>Grupos de Alarmas</h2>
    <div class="large-frame">
        <div class="work-group">
            <div class="frame">
                <span>Grupo de trabajo 1</span>
                <div class="buttons">
                    <button class="share-button">Compartir</button>
                    <button class="delete-button">Eliminar</button>
                </div>
            </div>
            <div class="frame">
                <span>Grupo de trabajo 2</span>
                <div class="buttons">
                    <button class="share-button">Compartir</button>
                    <button class="delete-button">Eliminar</button>
                </div>
            </div>
            <div class="frame">
                <span>Grupo de trabajo 3</span>
                <div class="buttons">
                    <button class="share-button">Compartir</button>
                    <button class="delete-button">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>